@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
 
}

#render-div{
  background-color: #fffeea;
}

#slide{
  background-color: #ffffff;
}

#control-panel {
  overflow: visible;
  position: relative;
  width: 100px;
  display: flex;
  flex-direction:row;
  align-items: left;
  /* justify-content: center; */
  /* margin: auto; */
  /* font-size: 20px; */
}

#controls {
  display: flex;
  flex-direction: row;
  background-color: #1e293b;
  
}

#controls button {
  margin: 5px;
  color: #f8fafc
}

#sprite24 {
  animation: spriteAnimation24 6s steps(3) infinite;
  /* background-size: 50vw; */
  max-width: 800px;
}

@keyframes spriteAnimation24 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -1396px; /* Shift vertically to show the second frame */
  }
}


#sprite25 {
  animation: spriteAnimation25 4s steps(2) infinite;
}

@keyframes spriteAnimation25 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -935px; /* Shift vertically to show the second frame */
  }
}



@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Slide In Animation (from top) */
@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Class for next slide coming from the bottom */
.slide-from-bottom {
  animation: slideInFromBottom 0.5s ease-out;
}

/* Class for previous slide coming from the top */
.slide-from-top {
  animation: slideInFromTop 0.5s ease-out;
}