@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1e3a8a;
  --secondary-color: #64748b;
  --accent-color: #22c55e;
  --background-color: #f8fafc;
  --text-color: #1e293b;
  width: 100%;
}

#control-panel {
  overflow: visible;
  position: relative;
  width: 100px;
  display: flex;
  flex-direction:row;
  align-items: left;
  /* justify-content: center; */
  /* margin: auto; */
  /* font-size: 20px; */
}

#controls {
  display: flex;
  flex-direction: row;
  background-color: #1e293b;
  
}

#controls button {
  margin: 5px;
  color: #f8fafc
}

button {
  margin:10px;
}


#sprite24 {
  animation: spriteAnimation24 6s steps(3) infinite;
  /* background-size: 50vw; */
  max-width: 800px;
}

@keyframes spriteAnimation24 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -1396px; /* Shift vertically to show the second frame */
  }
}


#sprite25 {
  animation: spriteAnimation25 4s steps(2) infinite;
}

@keyframes spriteAnimation25 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -935px; /* Shift vertically to show the second frame */
  }
}